@import "../Converter";

.currencies {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 320px;

  ul {
    height: 60px;
    width: 320px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    .currencies-block {
      padding-top: 6px;
      height: 30px;
      text-align: center;
      list-style: none;
      width: 55px;
      cursor: pointer;
      border: 1px solid #cdcdcd;
      border-left: 0;
      background-color: white;
      color: black;

      &:first-child {
        border-left: 1px solid #cdcdcd;
      }

      &:hover {
        background-color: $mainColor;
        color: white;
      }
    }

    .toggle {
      position: relative;
      svg {
        transform: rotate(180deg);

        &.rotated {
          transform: rotate(0);

          & path {
            fill: white;
          }
        }
      }

      .currenciesList-select {
        opacity: 0;
        top: 0;
        left: 0;
        position: absolute;
        width: 53px;
        height: 38px;
      }
    }

    .active {
      background-color: $mainColor;
      color: white;
    }
  }

}