* {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

$mainColor: #16b67f;
$otherColor: #cdcdcd;

.main {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-bottom: 60px;
  }

  .converterBlock {
    display: flex;
    width: 80%;
    max-width: 900px;
    justify-content: space-between;
    align-items: center;

    .converterField {
      width: 320px;
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

      label {
        display: flex;
        flex-direction: column;
        width: 320px;

        input {
          box-sizing: border-box;
          font-size: 32px;
          padding-left: 15px;
          padding-right: 15px;
          height: 120px;
          margin: 15px 0;
          border: 1px solid $otherColor;

          &:focus {
            border: 1px solid black;
          }
        }

      }
    }

    button {
      width: 120px;
      height: 40px;
      font-size: 18px;
      background-color: white;
      color: $mainColor;
      border: 1px solid $mainColor;
      cursor: pointer;
      border-radius: 10px;

      &:hover {
        color: white;
        background-color: $mainColor;
      }

      &:active {
        color: $mainColor;
        background-color: white;
      }
    }
  }

  .currenciesList {
    background-color: white;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    height: 500px;
    flex-wrap: wrap;
    width: 850px;
    box-sizing: border-box;
    padding: 15px;
    position: absolute;
    top: 280px;

    .currenciesList-item {
      font-size: 14px;
      padding: 5px 10px;
      box-sizing: border-box;
      display: flex;
      height: 30px;
      margin-bottom: 10px;
      justify-content: space-between;
      width: 240px;

      cursor: pointer;

      &:hover {
        background-color: $mainColor;
      }
    }
  }

  @media screen and (max-width: 990px) {
    .converterBlock {
      flex-direction: column;

      button {
        margin-bottom: 30px;
      }
    }
  }
}

